**/.gradle/**
**/.idea/**
**/*.iml
**/app/*.iml
firebase/app/app.iml
.gitignore.swp
ui-elements-runtime/app/app.iml
recyclerview/app/app.iml
firebase/app/app.iml
search/app/app.iml
.idea/encodings.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
